BODY {margin-left:20; margin-top:5; margin-width:15; margin-height:5; font-family:helvetica,arial,sans-serif}

P.titledlist {margin-left: 2.4em; text-indent: -2.4em;  line-height: 1.3; 
margin-top: 1.8ex; margin-bottom: 1.8ex;}

P.people { margin-top: 0ex; margin-bottom: 0.6ex; margin-left: 12px; 
text-indent: -12px; }

P.research {margin-top: 1ex; margin-bottom: 1ex;}

UL.compact {list-style-image:none; list-style: inside disc }

LI.software {margin-top: 1ex; margin-bottom: 0ex;}

a:link {text-decoration:none;}

a:visited {text-decoration:none;}

a:hover {color:blue; text-decoration:underline;}

a span {display:none;}

a:hover span {display:block; position:fixed; left:150px; padding:5px; background: #f0f0f0; border: 1px dotted #c0c0c0; opacity: 1;}
